
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="datasource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/IGlobal" />
		<property name="username" value="root" />
		<property name="password" value="Dhikure1159"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="datasource" />
		
		<property name="annotatedClasses">
			<list>
				<value>com.entities.StudentEntity</value>
				<value>com.entities.UniversityEntity</value>

			</list>
		</property>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
	
	<bean id="studentRepository"
		class="com.repository.StudentRepository">
		<property name="sessionFacatory" ref="sessionFactory"></property>

	</bean>
	
	<bean id="universityRepository"
		class="com.repository.UniversityRepository">
		<property name="sessionFacatory" ref="sessionFactory"></property>

	</bean>


</beans>
	
	